<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="products.css">
</head>
<body>
    <h1>Products</h1>
    <ul>
        <li><a href="add-product.html">Add Products</a></li>
        <li><a href="profile.html">Profile</a></li>
    </ul>
    <div id="product-list">
        <% products.forEach(product => { %>
            <div class="product-card">
                <img src="/uploads/<%= product.Imagen %>" alt="<%= product.TipoDePescado %>" width="200">
                <h3><%= product.TipoDePescado %></h3>
                <p>Price: $<%= product.Precio %></p>
                <p>Description: <%= product.Descripcion %></p>
                <p>Weight: <%= product.Peso %> kg</p>
                <a href="/products/<%= product.ProductID %>">View Details</a> <!-- Link to the product details page -->
                <form action="/products/<%= product.ProductID %>/edit" method="GET">
                    <button type="submit">Edit</button>
                <form action="/products/<%= product.ProductID %>" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">Delete</button>
                </form>
            </div>
        <% }); %>
    </div>
</body>
</html>